language: ruby

sudo: false

rvm:
  - 2.2.10
  - 2.3.8
  - 2.4.6
  - 2.5.5
  - 2.6.3

before_install: gem install bundler -v 1.16.2

env:
  - PRINT_STUBS=true

script:
  - bundle exec rspec spec
  # - bundle exec rubocop --require rubocop-rspec
  - bundle exec codeclimate-test-reporter
